server:
  port: 8989
spring:
  datasource:
    url: jdbc:mysql://localhost:3306/lw_blog?characterEncoding=utf-8&serverTimezone=UTC
    username: root
    password:
    driver-class-name: com.mysql.cj.jdbc.Driver
  servlet:
    multipart:
      max-file-size: 20MB
      max-request-size: 50MB
#  redis:
#    host: 192.168.10.132
#    port: 6379

mybatis-plus:
  configuration:
    # 日志
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
  global-config:
    db-config:
      logic-delete-field: delFlag
      logic-delete-value: 1
      logic-not-delete-value: 0
      id-type: auto

oss:
  accessKey: DPLW2G2zJcXnHXKE7KZ0atXtVa8UD_4krskpNixS
  secretKey: ulx2aRYgJpRtphJChh6jnSPdUaqQpA8iGc2PWnQA
  bucket: liw-blog